# Created by https://www.gitignore.io/api/netbeans
# Edit at https://www.gitignore.io/?templates=netbeans

### NetBeans ###
**/nbproject/private/
nbproject/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
src/colorpixelreader/Swing/GIFMaker/output/
build.xml
manifest.mf
src/Swing/output/


# End of https://www.gitignore.io/api/netbeans
